
body{
    font-family: 'Fira Sans Condensed', sans-serif;
    text-align: center;
    margin: auto;
    font-size: 20px;
}
/* title */
.title{
    font-weight:600;
    margin-bottom: 50px;
    font-size: 30px;
}
.dot{
    width: 10px;
    height: 15px;
    color: hsl(223, 87%, 63%);
    
  
}
/* main-line */
.main-line{
    font-size: 40px;
    /* opacity: .25; */
    margin-top: 25px;
    color: black;
}
.main-span{
    color: grey;
    opacity: .5;
}
.strong{
    font-weight: 700;
    display:inline;
    color: black
}
/* form */
#email{
    border: 2px solid hsl(0, 0%, 59%);
    padding: 10px;
    border-radius: 30px;
    width: 30%;
    
  
}
.btn{
    padding: 10px;
    border:none;
    border-radius: 30px;
    background-color: rgba(56, 141, 238, 0.801);
    width: 10%;
    cursor: pointer;
  
}
.message{
    color:hsl(354, 100%, 66%);
    font-size: 15px;
}
@media screen and (max-width: 1000px){
    #email{
        width:70%;
        padding: 15px;
        margin: 10px;
        
    }
    .btn{
        width:75%;
        height: 45px;
        padding: 10px;
        margin: 10px;
    }
}
/* image */
@media screen and (max-width: 1000px){
    img{
        width: 400px;
    
    }
    
}
/* social media icons */
.fab{
    color: hsl(223, 87%, 63%);
    padding: 15px;
    margin-top: 50px;
    border-radius: 50%;
    border-color: white;
}
.fab:hover{
    background-color: hsl(223, 87%, 63%);
    border-radius: 50%;
    color:white;
    
}
.copy{
    font-size: 10px;
    opacity: .5;
}
.attribution{
    font-size: 10px;
    opacity: .5;
}
